:root {
	--secondary-color: #fac564;
}

.Menu_navList__3BNMl {
	display: flex;
	justify-content: space-around;
	padding: 1.5rem 0;
	margin: 0;
	list-style: none;
}

.Menu_link__2LNF5 {
	padding: 15px;
	color: #eeeeee;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}

.Menu_link__2LNF5.Menu_active__3VSQ6,
.Menu_link__2LNF5:hover {
	color: #fac564;
	color: var(--secondary-color);
	border-bottom: 2px solid #fac564;
	border-bottom: 2px solid var(--secondary-color);
}

.IncrDecrCockpit_btn__3OaUF {
    margin: 0 5px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #FAC564;
}
.MenuItem_container__zC181 {
	display: flex;
	width: 100%;
	min-height: 200px;
	overflow: hidden;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.MenuItem_container__zC181:last-child {
    margin-bottom: 2rem;
}

.MenuItem_img__i5arF {
	width: 30%;
    height: auto;
    background-image: linear-gradient(to right, #70E1F5, #FAC564, #fff);
}

.MenuItem_body__1lfk8 {
    display: flex;
    width: 70%;
	padding: 10px;
	padding-top: 0;
	flex-direction: column;
	justify-content: space-between;
}

.MenuItem_title__3FeYB {
	text-transform: uppercase;
    font-size: 2rem;
    margin: 1.5rem 0;
}

.MenuItem_price__1ihKc {
    font-size: 1.5rem;
}

.MenuItem_description__2lJE3 {
    margin-top: 0;
}

@media (max-width: 575.98px) { 
    .MenuItem_container__zC181 {
        flex-direction: column;
    }

    .MenuItem_img__i5arF {
        width: 100%;
    }

    .MenuItem_body__1lfk8 {
        width: 100%;
    }
}
.MenuList_menuList__3GsTG {
	width: 100%;
	min-height: 300px;
	position: relative;
	margin: 0;
	list-style: none;
	padding: 0;
	padding-bottom: 2rem;
}

@keyframes Spinner_spinner__3SrVg {
	0%, 100% { opacity: 0; }
	50% { opacity: 1; }
}

.Spinner_container__1IABD {
    position: absolute;
    height: 100%;
    width: 100%;
}

.Spinner_container__1IABD div {
	width: 0.5rem;
	height: 4rem;
	position: absolute;
	left: 50%;
	top: 50%;
	border-top: 2rem solid #fff;
	transform: translate(-50%, -50%) rotate(calc(var(--i) * 30deg));
	transform-origin: 50% 100%;
	animation: Spinner_spinner__3SrVg 1.2s calc((var(--i) - 12) * 0.1s) infinite;
}

.Spinner_container__1IABD div:nth-child(1) { --i: 0; }
.Spinner_container__1IABD div:nth-child(2) { --i: 1; }
.Spinner_container__1IABD div:nth-child(3) { --i: 2; }
.Spinner_container__1IABD div:nth-child(4) { --i: 3; }
.Spinner_container__1IABD div:nth-child(5) { --i: 4; }
.Spinner_container__1IABD div:nth-child(6) { --i: 5; }
.Spinner_container__1IABD div:nth-child(7) { --i: 6; }
.Spinner_container__1IABD div:nth-child(8) { --i: 7; }
.Spinner_container__1IABD div:nth-child(9) { --i: 8; }
.Spinner_container__1IABD div:nth-child(10) { --i: 9; }
.Spinner_container__1IABD div:nth-child(11) { --i: 10; }
.Spinner_container__1IABD div:nth-child(12) { --i: 11; }
@keyframes Message_comeup__3IuUN {
	0% {
		top: -200%;
		opacity: 0;
	}
	60% {
		top: 80%;
		opacity: 1;
	}
	100% {
		top: 50%;
		opacity: 1;
	}
}

.Message_layout__2dWcq {
	position: fixed;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(transparent, rgba(16, 18, 22, 0.6));
}

.Message_message__17XTB {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 30px;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color: white;
	animation-duration: 800ms;
	animation-fill-mode: forwards;
	animation-name: Message_comeup__3IuUN;
	background-color: #1d1f38;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	z-index: 1000;
}

.Checkout_title__2806u {
    width: 100%;
    margin-bottom: 0;
}
.Receipt_receipt__2g87i {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	transition: 1s all ease-in-out;
    background-color: white;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
}

.Receipt_box__1FNdy {
	display: flex;
	flex-direction: column;
    padding-bottom: 0px;
}

.Receipt_receipt__2g87i .Receipt_alignRight__27uN3 {
	text-align: right;
}

.Receipt_receipt__2g87i .Receipt_total__3RIXQ {
	text-align: right;
	font-weight: bold;
	font-size: 1.2rem;
}

.Receipt_receipt__2g87i table {
	border-collapse: collapse;
	border-spacing: 0;
}

.Receipt_receipt__2g87i thead {
	border-bottom: 1px solid #d0d0d0;
}

.Receipt_receipt__2g87i td,
th {
	padding: 15px 5px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-radius: 2px;
}
.Receipt_receipt__2g87i th {
	padding: 15px 5px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-radius: 2px;
}

.Receipt_receipt__2g87i td:nth-child(1) {
	width: 34px;
}

.Receipt_receipt__2g87i td:nth-child(3) {
	width: 65px;
}

.Receipt_bold__3cyb5 {
	font-weight: bold;
	font-size: 20px;
}

form {
	position: relative;
	width: 90%;
	min-height: 400px;
	text-align: center;
}

.Form_form__yvL89 textarea {
	height: 126px;
}

.Form_form__yvL89 input,
.Form_form__yvL89 textarea {
	border: 0;
	outline: 0;
	padding: 1em;
	border-radius: 8px;
	display: block;
	width: 100%;
	margin-top: 1em;
	resize: none;
}

.Form_form__yvL89 input:focus,
.Form_form__yvL89 textarea:focus {
	border: 2px solid #fac564;
}

@media (max-width: 575.98px) {
	.Form_form__yvL89 {
		min-height: 300px;
	}
}

.Orders_table__3-D_D li {
	border-radius: 3px;
	padding: 25px 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.Orders_header__1brXF {
	color: white;
	background-color: #fac564;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.Orders_row__7kryD {
	background-color: #ffffff;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.Orders_table__3-D_D .Orders_col-1__3XrXX {
	flex-basis: 20%;
}
.Orders_table__3-D_D .Orders_col-2__NYbJ7 {
	flex-basis: 30%;
}

.Orders_table__3-D_D .Orders_col-3__rTOFx {
	flex-basis: 40%;
}

.Orders_table__3-D_D .Orders_col-4__327la {
	text-align: right;
	flex-basis: 10%;
}

@media all and (max-width: 767px) {
	.Orders_table-header__3zAe1 {
		display: none;
	}
	li {
		display: block;
	}
	.Orders_table__3-D_D .Orders_col__3xjov {
		flex-basis: 100%;
	}
	.Orders_table__3-D_D .Orders_col__3xjov {
		display: flex;
		padding: 10px 0;
	}

	.Orders_table__3-D_D .Orders_col__3xjov:before {
		color: #6c7a89;
		padding-right: 10px;
		content: attr(data-label);
		flex-basis: 50%;
		text-align: right;
	}
}

:root {
	--secondary-color: #fac564;
}

.AppHeader_header__34dWd {
	padding: 2px 0;
}

.AppHeader_container__38ACS {
	display: flex;
	max-width: 1280px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

@media (max-width: 575.98px) {
	.AppHeader_container__38ACS {
		flex-direction: column;
	}
}

.AppHeader_logo__3itVL {
	display: flex;
	align-items: center;
	font-style: italic;
	font-weight: bold;
	font-size: 35px;
	color: #fac564;
	color: var(--secondary-color);
	text-decoration: none;
	max-height: 100%;
}

.AppHeader_logo__3itVL svg {
	fill: #fac564;
	fill: var(--secondary-color);
}

.AppHeader_link__3U4Pp {
	padding: 12px;
	text-decoration: none;
	color: white;
	transition: all 0.3s linear;
}

.AppHeader_withIcon__1rChf {
	display: flex;
	align-items: center;
}

.AppHeader_withIcon__1rChf svg {
	max-height: 100%;
	fill: white;
	margin-right: 5px;
	transition: inherit;
}

.AppHeader_link__3U4Pp:hover {
	color: #fac564;
	color: var(--secondary-color);
}

.AppHeader_link__3U4Pp.AppHeader_active__gf_qx svg,
.AppHeader_link__3U4Pp:hover svg {
	fill: #fac564;
	fill: var(--secondary-color);
}

.AppHeader_active__gf_qx {
	color: #fac564;
	color: var(--secondary-color);
}

:root {
	--secondary-color: #fac564;
}

.Cart_container__271KN {
	position: fixed;
	right: 0;
	bottom: 0;
	display: flex;
	width: 90%;
	max-width: 381px;
	flex-direction: column;
	align-items: flex-end;
}

.Cart_body__SarT7 {
	display: none;
	width: 100%;
	max-height: 500px;
	position: relative;
	padding-bottom: 74px;
	border: 3px solid black;
	border-top: none;
	background-color: white;
}

.Cart_open__3vGG_ .Cart_body__SarT7 {
	display: block;
}

.Cart_link__4Fp7w {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 15px;
	background-color: #1e272e;
	color: #fac564;
	color: var(--secondary-color);
	border: 1px solid #fac564;
	border: 1px solid var(--secondary-color);
	text-transform: uppercase;
	text-decoration: none;
}

.Cart_link__4Fp7w:hover {
	color: white;
	background-color: #fac564;
	background-color: var(--secondary-color);
}

.Cart_list__3jp0G {
	max-height: 350px;
	overflow: scroll;
	padding: 0;
	overflow-x: hidden;
}

.CartItem_container__2TTjS {
	display: flex;
	width: 100%;
	min-height: 160px;
	overflow: hidden;
	background-color: #eeeeee;
	border-bottom: 1px solid black;
}

.CartItem_body__K-zGu {
	position: relative;
	display: flex;
	padding: 10px;
	padding-top: 0;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% - 158px);
}

.CartItem_img__2T5uC {
	width: 158px;
	height: auto;
}

.CartItem_title__1gIMk {
	text-transform: uppercase;
	font-size: 1.5rem;
}

.CartItem_summ__3qsmH {
	font-size: 1.5rem;
}

.CartItem_removeBtn__1sqMm {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 1.5rem;
	border: none;
	background: transparent;
	border-radius: 50%;
	color: red;
}
.CartHeader_toggler__3Khpg {
	display: flex;
	width: 100%;
	min-width: 255px;
	max-height: 65px;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	background-color: white;
	border-width: 3px;
	border-style: solid;
	border-color: black;
	transition: all 0.2s linear;
}

.CartHeader_toggler__3Khpg:hover {
	border-color: var(--secondary-color);
	color: var(--secondary-color);
}

.CartHeader_icon__1x5h8 {
	transition: inherit;
	fill: black;
}

.CartHeader_toggler__3Khpg:hover .CartHeader_icon__1x5h8 {
	fill: var(--secondary-color);
}

.CartHeader_total__ZwCC3 {
    margin-right: 1rem;
}
.Switcher_container__2Fpd9 {
	position: relative;
	height: 24px;
	width: 50px;
	-webkit-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	margin-bottom: 10px;
	display: inline-block;
	padding: 0px;
}

.Switcher_container__2Fpd9::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 50%;
	background: #fac564;
	border-radius: 3px;
	transition: all 120ms ease-out;
	border-radius: 3px 0 0 3px;
}

.Switcher_container__2Fpd9.Switcher_checked__2v4B-::before {
	left: 50%;
	border-radius: 0px 3px 3px 0px;
}

.Switcher_container__2Fpd9 [role='radio'] {
	font: inherit;
	font-weight: normal;
	font-size: 12px;
	background: transparent;
	border-top: 1px solid #fac564;
	border-bottom: 1px solid #fac564;

	position: relative;
	width: 50%;
	text-align: center;
	cursor: pointer;
	padding: 0;
	margin: 0 auto;
	min-width: 0;
	height: 100%;
	transition: all 120ms ease-out;
	border-left: 1px solid #fac564;
	border-right: 1px solid #fac564;
}

.Switcher_container__2Fpd9 [role='radio']:focus {
	outline: none;
}

.Switcher_container__2Fpd9 [role='radio']:nth-child(1) {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.Switcher_container__2Fpd9 [role='radio']:nth-child(2) {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.Switcher_container__2Fpd9 [role='radio']:nth-child(1),
.Switcher_container__2Fpd9.Switcher_checked__2v4B- [role='radio']:nth-child(2) {
	color: white;
}

.Switcher_container__2Fpd9 [role='radio']:nth-child(2),
.Switcher_container__2Fpd9.Switcher_checked__2v4B- [role='radio']:nth-child(1) {
	color: #fac564;
}

.CurrencySwitcher_container__ENp1H {
	position: fixed;
	bottom: 1rem;
	left: 0;
    display: flex;
	align-items: center;
	margin-left: 2rem;
	color: white;
}

.CurrencySwitcher_container__ENp1H p {
    margin: 0 1rem;
    margin-bottom: 10px;
}

@media (max-width: 575.98px) { 
	.CurrencySwitcher_container__ENp1H {
		bottom: 65px;
		margin-left: 0;
	}
}
/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/*! modified by Josh Vermaire to remove support IE8-9     */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Removes default margin.
 */

body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */

h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */

q {
  quotes: "\201C""\201D""\2018""\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in Safari 5.
 */

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
  margin: 0 2px;
}

/*
 * Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  padding: 0;
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
  margin: 0; /* 3 */
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] { /* 2 */
  box-sizing: content-box;
  -webkit-appearance: textfield; /* 1 */
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*
 * Improves readability and alignment in all browsers.
 */

textarea {
  vertical-align: top;
}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url(./fonts/poppins-v9-latin-regular.woff2) format('woff2'), 
       url(./fonts/poppins-v9-latin-regular.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: local('Poppins Light Italic'), local('Poppins-LightItalic'),
       url(./fonts/poppins-v9-latin-300italic.woff2) format('woff2'), 
       url(./fonts/poppins-v9-latin-300italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url(./fonts/poppins-v9-latin-700.woff2) format('woff2'), 
       url(./fonts/poppins-v9-latin-700.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
       url(./fonts/poppins-v9-latin-700italic.woff2) format('woff2'), 
       url(./fonts/poppins-v9-latin-700italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.container {
	position: relative;
	width: 90%;
	min-width: 320px;
	max-width: 1280px;
	padding: 0 5px;
	margin: 0 auto;
}

.container.lg {
	max-width: 768px;
}

.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}
.flex-direction-column {
	flex-direction: column;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
	align-items: flex-end;
}
:root {
	--page-font-color: black;
	--page-font: 'Poppins', sans-serif;
	--page-font-size: 16px;
	--page-line-height: normal;
	--page-bg-color: #1e272e;
	--secondary-color: #fac564;
	--header-height: 74px;
	--lg-width: 768px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-size: var(--page-font-size);
}

body {
	position: relative;
	margin: 0;
	background-color: #1e272e;
	background-color: var(--page-bg-color);
	color: black;
	color: var(--page-font-color);

	font-family: 'Poppins', sans-serif;

	font-family: var(--page-font);
	font-size: 16px;
	font-size: var(--page-font-size);
	font-weight: normal;
	line-height: normal;
	line-height: var(--page-line-height);
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	overflow: hidden;

	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	clip: rect(0 0 0 0);

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);

	white-space: nowrap;
}

h1,
h2 {
	color: #fac564;
	color: var(--secondary-color);
	font-size: 2rem;
}

@media screen and (min-width: 500px) {
	h1,
	h2 {
		margin-top: 0;
		font-size: 5rem;
	}
}

main {
	position: relative;
	min-height: calc(100vh - 74px);
	min-height: calc(100vh - var(--header-height));
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(./img/main-bg.jpg);
	background-size: cover;
}

main::before {
	position: absolute;
	top: 0;
	left: 0;	
	display: block;
	width: 100%;
	height: 100%;
	background-color: #1e272e;
	background-color: var(--page-bg-color);
	content: "";
	opacity: .6;
}


/*# sourceMappingURL=app.css.map*/